@charset "UTF-8";

/* Common */

body {
    font-family: '나눔고딕', NanumGothic, '돋움', Dotum, sans-serif ;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.clear {
    display: block;
    clear: both;
    content: '';
}


/* Moblie */

/* Main */
.menu {
    background-color: #fff;
}

.menu_wrap {
    height: 50px;
}

.logo {
    float: left;
    display: block;
    width: 114px;
    height: 50px;
    background: url(../image/logo_m.png) no-repeat 50% 50%;
    background-size: 80%;
}

.gnb_menu {
    float: right;
    display: block;
    width: 46px;
    height: 50px;
    background: url(../image/icon_menu.png) no-repeat 50% 50%;
    background-size: 50%;
}

.menu_item {
    visibility: hidden;
    position: relative;
    background-color: #fff;
    padding: 10px 0;
}

.menu_item a {
    display: block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.menu_item {
    display: block;
    clear: both;
    content: '';
}

.gnb_menu:hover + .menu_item {
    visibility: visible;
}

.top {
    background-color: #ffee02;
}

.top_wrap {
    display: block;
    padding: 20px 35px 40px;
    text-decoration: none;
}

.top_banner {
    margin: 0 auto;
    width: 250px;
    height: 180px;
    background: url(..//image/banner_strawberry.png) no-repeat 50% 50%;
    background-size: 100%;
}

.top_text {
    font-size: 22px;
    color: #333;
    max-height: 56px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 20px;
}

.top_line {
    width: 40px;
    margin: 0 auto;
    border-top: 1px solid #000;
}

.top_profile {
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

.profile_img {
    width: 40px;
    height: 40px;
    border-radius: 80%;
    background-image: url(../image/thumbnail_profile_none.jpg);
}

.profile_text {
    vertical-align: 70%;
}

.middle {
    padding: 15px 0;
    background-color: #f0f0f0;
}

.middle_wrap {
    padding: 0 15px;
}

.list_item {
    display: block;
    text-decoration: none;
}

.list_img {
    width: 100%;
}

.list_text {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #333;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.img_wrap {
    position: relative;
}

.img_wrap:after {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.show_more {
    display: block;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #333;
    text-align: center;
    text-decoration: none;
}

.arrow_more {
    width: 20px;
    height: 20px;
    vertical-align: -5%;
}

.bottom {
    background-color: #f4f5f7;
}

.form_wrap {
    padding: 20px 15px;
}

.title_main, .title_sub {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

.title_sub {
    font-size: 14px;
}

.bottom_form {
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
}

.label_id {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.form_submit {
    float: right;
    border: 2px solid #bdbdbd;
    background-color: #e9e9e9;
    font-size: 11px;
    color: #666;
}

.form_id, .form_email {
    font-size: 14px;
    color: #333;
    border: none;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 10px;
}

.form_email::placeholder, .form_id::placeholder, .text_area::placeholder {
    color: #acacac;
}

.form_id {
    width: 99%;
    margin-top: 15px;
}

.label_email {
    display: block;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin: 15px 0;
}

.form_email {
    float: left;
    width: 49%;
}

.email_at {
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
}

.email_select {
    float: right;
    font-size: 14px;
    color: #333;
    border: none;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 10px;
    width: 43%;
    appearance: none;
    background: url(../image/icon_arrow_email.png) no-repeat 97% 30%/14px auto;
}

.text_area {
    width: 98%;
    resize: none;
    margin-top: 15px;
    border: 1px solid #c1c1c1;
}

.bottom_form::after {
    display: block;
    clear: both;
    content: '';
}

.bottom_list {
    padding: 0 15px 15px 15px;
    background-color: #f0f0f0;
}

.bottom_list_title {
    display: block;
    font-size: 16px;
    color: #333;
    padding: 15px 0;
}

.announce_item {
    position: relative;
    font-size: 14px;
    color: #333;
    padding-bottom: 20px;
    border-bottom: 1px solid #c1c1c1;
}

.announce_text {
    display: block;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.announce_showmore {
    position: absolute;
    top: 0;
    right: 0;
}

.sub_first {
    border-right: 1px solid #c1c1c1;
    padding-right: 7px;
}

.sub_first, .sub_second {
    font-size: 14px;
    color: #333;
}

.footer_box {
    text-align: center;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    padding: 10px 15px 30px;
}

.footer_item {
    display: inline-block;
    padding: 15px 5px;
}

/* View */

.view_top_wrap {
    padding: 0 15px;
    background-color: #f0f0f0;
}

.view_table_mobile {
    width: 100%;
    padding: 50px 0;
}

.view_table_tablet_pc {
    display: none;
}

.table_title {
    padding: 20px 0;
    text-align: left;
    font-size: 28px;
    color: #333;
    font-weight: bold;
}

.table_first, .table_last {
   font-size: 14px;
   color: #767676;
   font-weight: bold;
   width: 120px;
   padding-bottom: 10px;
}

.table_second, .table_number {
    font-size: 14px;
    color: #666;
}

.table_number {
    font-family: tahoma;
}

.table_last {
    padding-bottom: 30px;
}

.food_info_wrap {
    border-top: 1px solid #c1c1c1;
}

.food_title {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin: 25px 0 10px 0;
}

.food_content {
    font-size: 14px;
    color: #666;
    line-height: 25px;
}

.food_link {
    color: #3b9a7b;
}

.recipe_list li {
    list-style: decimal;
    list-style-position: inside;
    font-size: 14px;
    color: #666;
    line-height: 25px;
    padding-left: 1.5em;
    text-indent: -1.4em;
}

.view_bottom_wrap {
    padding: 30px 15px;
    background-color: #f0f0f0;
}

.food_table {
    width: 100%;
    background-color: #eaeaea;
    padding-top: 30px;
    margin-bottom: 30px;
}

.food_table_col {
    width: 33%;
}

.food_table_title {
    border: 1px solid #c1c1c1;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    line-height: 30px;
    text-align: left;
}

.food_table_content {
    border: 1px solid #c1c1c1;
    font-size: 14px;
    color: #666;
    vertical-align: middle;
    padding-left: 5px;
}

.food_table_content:nth-child(2) {
    line-height: 30px;
}

.cake_img {
    width: 100%;
}

.cake_title {
    font-size: 14px;
    color: #666;
    text-align: center;
    padding: 15px 0 30px 0;
}

/* Tablet */

@media screen and (min-width:768px) {
    
    /* Main */

    .menu_wrap {
        position: relative;
    }

    .logo {
        position: absolute;
        left: 0;
    }

    .gnb_menu {
        display: none;
    }

    .menu_item {
        position: absolute;
        right: 0;
        visibility: visible;
        padding: 0;
    }

    .menu_item a {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        color: #333;
        padding: 0 10px;
    }

    .top_wrap {
        position: relative;
        height: 330px;
        padding: 0 34px;
    }

    .top_banner {
        position: absolute;
        display: block;
        top: 39px;
        right: 34px;
        width: 350px;
        height: 252px;
    }

    .top_text {
        position: absolute;
        padding: 0 384px 0 0;
        top: 80px;
        font-size: 32px;
        color: #333;
        max-height: 120px;
        line-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    .top_line {
        position: absolute;
        bottom: 100px;
    }

    .top_profile {
        position: absolute;
        bottom: 30px;
    }

    .profile_text {
        font-size: 18px;
    }

    .middle {
        padding: 30px 34px;
    }

    .middle_wrap, .show_more {
        padding: 0;
    }

    .middle_wrap::after {
        display: block;
        clear: both;
        content: '';
    }

    .list_wrap {
        float: left;
        width: 48.5%;
    }

    .list_wrap + .list_wrap {
        margin-left: 20px;
    }

    .list_wrap:nth-child(2n+1) {
        margin-left: 0;
    }

    .list_text {
        height: 50px;
        line-height: 50px;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .form_wrap {
        padding: 30px 34px;
    }

    .title_main {
        font-size: 30px;
    }

    .title_sub {
        font-size: 18px;
    }

    .bottom_form {
        padding: 50px;
    }

    .form_submit {
        font-size: 15px;
    }

    .bottom_list_title {
        padding: 20px 0
    }

    .bottom_list {
        padding: 0 34px 20px 34px;
    }

    .creators {
        padding: 20px 0;
    }

    .creators_title, .partners_title {
        display: inline-block;
        padding: 0 20px 0 0;
    }

    .creators_title, .partners_title, .creators_item, .partners_item {
        float: left;
    }

    .creators::after {
        display: block;
        clear: both;
        content: '';
    }

    .partners::after {
        display: block;
        clear: both;
        content: '';
    }

    /* View */
    
    .view_table {
        display: none;
    }

    .view_table_second {
        display: block;
    }

    .table_second {
        padding-right: 130px;
    }

    .table_title {
        font-size: 36px;
        color: #333;
        font-weight: bold;
    }

    .cake_img_box {
        max-width: 600px;
        margin: 0 auto;
    }
}

/* PC */

@media screen and (min-width:1024px) {

    /* Main */

    .menu_wrap {
        width: 988px;
        height: 70px;
        margin: 0 auto;
    }

    .logo {
        height: 70px;
    }

    .menu_item {
        line-height: 70px;
    }

    .menu_item a:hover {
        font-weight: bold;
    }

    .top_wrap {
        width: 988px;
        height: 420px;
        padding: 0;
        margin: 0 auto;
    }

    .top_banner {
        position: absolute;
        right: 0;
        width: 500px;
        height: 360px;
    }

    .top_text {
        position: absolute;
        top: 80px;
        padding: 0;
        font-size: 40px;
        color: #333;
        width: 460px;
        max-height: 156px;
        line-height: 52px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    .top_line {
        position: absolute;
        bottom: 150px;
    }

    .top_profile {
        position: absolute;
        bottom: 70px;
    }

    .middle {
        background-color: #f0f0f0;
        padding: 30px 0;
    }

    .middle_wrap {
        width: 988px;
        margin: 0 auto;
        padding: 0;
    }

    .list_wrap {
        width: 31.8%;
        margin-bottom: 20px;
    }

    .list_wrap + .list_wrap {
        margin-left: 20px;
    }

    .list_wrap:nth-child(3n+1) {
        margin-left: 0;
    }

    .list_item {
        position: relative;
    }

    .img_wrap {
        width: 316px;
        height: 316px;
    }

    .img_wrap:hover {
        opacity: 30%;
    }

    .list_item:focus > .img_wrap {
        opacity: 30%;
    }

    .img_wrap:hover + .list_text {
        visibility: visible;
    }

    .list_item:focus > .list_text {
        visibility: visible;
    }

    .list_text {
        visibility: hidden;
        position: absolute;
        width: 316px;
        height: 316px;
        top: 256px;
        right: -2px;
        margin: 0;
        height: 60px;
        font-size: 18px;
        color: #333;
        background-color: #fff;
    }

    .form_wrap {
        background: url(../image/bg_pencil.png) no-repeat 0 300px;
        width: 988px;
        margin: 0 auto;
        padding: 40px 0;
    }

    .bottom_announce {
        background-color: #f0f0f0;
        padding-bottom: 20px;
    }

    .form_title {
        float: left;
        width: 398px;
    }

    .title_main {
        font-size: 42px;
        margin-bottom: 30px;
        padding-right: 20px;
    }

    .title_sub {
        font-size: 18px;
    }

    .title_main, .title_sub {
        text-align: unset;
        color: #333;
    }

    .bottom_form {
        float: right;
        width: 490px;
        padding-bottom: 40px;
    }

    .form_wrap::after {
        display: block;
        content: '';
        clear: both;
    }

    .bottom_list {
        width: 988px;
        margin: 0 auto;
        padding: 0;
    }

    .footer_box {
        padding: 10px 0 30px 0;
    }

    /* View */

    .menu, .footer_box {
        background-color: #fff
    }

    .view_top, .view_bottom {
        background-color: #f0f0f0;
    }

    .view_top_wrap {
        width: 988px;
        margin: 0 auto;
        padding: 0;
    }

    .view_bottom_wrap {
        width: 988px;
        margin: 0 auto;
        padding: 30px 0;
    }

    .menu_item {
        font-size: 22px;
    }
}
