@charset "utf-8";

body {
    font-family: '돋움', dotum, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #3c3c3c;
}

a {
    color: inherit;
    text-decoration: none;
    vertical-align: top;
}

img {
    vertical-align: top;
}

h1 {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 26px;
    line-height: 38px;
    color: #000;
}

.visaully_hidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main_wrap {
    background-color: #ececec;
}

.main_wrap .content {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0 20px;
}

.main_wrap .noti_text {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 12px;
    color: #7c7c7c;
}

.main_list li {
    float: left;
}

.main_list::after {
    display: block;
    clear: both;
    content: '';
}

.main_list li + li {
    margin-left: 15px;
}

.main_list .main_link {
    position: relative;
    display: block;
}

.main_list .img_box img {
    width: 322px;
    height: 215px;
}

.main_list .img_box {
    position: relative;
}

.main_list .img_box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.05);
}

.main_list .info_wrap {
    position: absolute;
    right: 15px;
    bottom: 15px;
    left: 15px;
    color: #fff;
    overflow: hidden;
}
.main_list .info {
    margin-left: 40px;
}

.main_list .rank {
    position: absolute;
    top: -5px;
    text-align: center;
}

.main_list .rank .num {
    display: block;
    font-size: 40px;
    line-height: 42px;
}

.main_list .rank .change {
    display: block;
    margin-top: 11px;
}

.main_list .rank .change:before {
    display: inline-block;
    content: '';
    margin-left: 3px;
}

.rank .up:before {
    width: 7px;
    height: 10px;
    background: url(./image/rank_up.png) no-repeat;
}

.rank .down:before {
    width: 7px;
    height: 10px;
    background: url(./image/rank_down.png) no-repeat;
}

.rank .keep:before {
    width: 8px;
    height: 2px;
    padding-bottom: 4px;
    background: url(./image/rank_keep.png) no-repeat;
}

.rank .up {
    color: #f82850;
}

.rank .down {
    color: #1996ff;
}

.main_list .category {
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_list .title {
    margin-top: 3px;
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_list .like {
    position: relative;
    display: block;
    margin-top: 5px;
    padding-left: 18px;
    font-size: 14px;
    line-height: 20px;

}

.main_list .like::before {
    position: absolute;
    top: 3px;
    left: 0;
    content: '';
    width: 14px;
    height: 15px;
    background: url(./image/like_large.png) no-repeat;
}

.sub_wrap {
    margin-top: 30px;
}

.sub_list {
    width: 1000px;
    margin: 0 auto;
}

.sub_list .item_link img {
    width: 188px;
    height: 141px;
}

.sub_list li {
    float: left;
    width: 188px;
    margin-bottom: 40px;
}

.sub_list::after {
    display: block;
    clear: both;
    content: '';
}

.sub_list li + li {
    margin-left: 15px;
}

.sub_list li:nth-child(5n+1) {
    margin-left: 0px;
}

.sub_list .item_link {
    display: block;
    position: relative;
}

.sub_list .item_link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border: 1px solid rgb(0,0,0,0.03);
}

.sub_list .info_wrap {
    position: relative;
    margin-top: 10px;
}

.sub_list .info {
    height: 79px;
    margin-left: 30px;
}

.sub_list .title {
    display: -webkit-box;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 15px;
    line-height: 18px;
    color: #090909;
}

.sub_list .category_link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-top: 3px;
    font-size: 12px;
    line-height: 15px;
    color: #7ba7df;
}

.sub_list .rank {
    position: absolute;
    top: 0;
    bottom: 1px;
    width: 20px;
    text-align: center;
}

.sub_list .rank .num {
    display: block;
    font-size: 22px;
    line-height: 24px;
}

.sub_list .rank .change {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.sub_list .rank .change::before {
    display: inline-block;
    content: '';
    margin-right: 3px;
}

.sub_list .like {
    position: absolute;
    bottom: 0;
    padding-left: 18px;
    font-size: 14px;
    line-height: 20px;
}

.sub_list .like::before {
    position: absolute;
    top: 6px;
    left: 0;
    content: '';
    width: 11px;
    height: 10px;
    background: url(./image/like.png) no-repeat;
}

.sub_list .image_wrap {
    display: block;
    position: relative;
}

.sub_list .time {
    position: absolute;
    right: 4px;
    bottom: 4px;
    height: 18px;
    padding: 0 7px;
    font-size: 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.sub_list .watch_later_link {
    display: none;
    position: absolute;
    right: 4px;
    bottom: 4px;
    width: 45px;
    height: 45px;
    background: url(./image/later_watch.png) no-repeat;
}

.sub_list .image_wrap:hover .watch_later_link {
    display: block;
}

.sub_list .image_wrap:hover .time {
    display: none;
}