@charset "utf-8";

/* font */ 

body {
    font-family: '나눔고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

/* header */

header {
    background-color: black;
    min-width: 1080px;
    line-height: 120px;
    margin-bottom: 30px;
}

header h1 {
    margin: 0 auto;
    padding-left: 40px;
    width: 1040px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

/* wrap */

.wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
}

/* menu */

.menu {
    width: 1000px;
    margin-bottom: 40px
}

.menu_list li {
    float: left;
    width: 318px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #d1d1d1;
    font-size: 16px;
    color: #000;
}

.menu_list::after {
    display: block;
    clear: both;
    content: '';
}

.menu_list li:nth-child(2) {
    margin: 0 14px;
}

.menu_list a {
    display: block;
    text-decoration: none;
    color: #000;
}

.menu_red:hover {
    font-weight: bold;
    border-color: #454545;
    background-color: red;
}

.menu_green:hover {
    font-weight: bold;
    border-color: #454545;
    background-color: green;
}

.menu_blue:hover {
    font-weight: bold;
    border-color: #454545;
    background-color: blue;
}

/* content */

.product {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #454545;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.fruit {
    width: 980px;
    padding: 0 10px;
}

.fruit li + li {
    margin-left: 20px;
}

.fruit li:nth-child(4n+1) {
    margin-left: 0;
}

.fruit_list {
    float: left;
    width: 230px;
}

.fruit ul:after {
    display: block;
    clear: both;
    content: '';
}

.info {
    font-size: 20px;
    color: #1b1d21;
    text-align: center;
    height: 120px;
    padding-top: 20px
}

.info p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info span {
    font-size: 28px;
    color: #1b1d21;
}

.fruit_img {
    position: relative;
}

.discount {
    display: none;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(96, 132, 2, 0.9);
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.fruit_img:hover > .discount {
    display: block;
}

.discount_box {
    padding-top: 80px;
}

.discount_rate {
    font-size: 50px;
}

.discount_time {
    font-size: 15px;
}

.visually_hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* footer */

footer {
    min-width: 1080px;
    border-top: 1px solid #d1d1d1;
    text-align: center;
}


footer address {
    margin-top: 30px;
    font-size: 12px;
    color: #999;
    font-style: normal;
}

footer p {
    margin-bottom: 30px;
    font-size: 12px;
    color: #000;
    margin-top: 10px;
}